<html>

<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
    .add{
        width:50%;
        margin-left:20%
    }
    </style>
</head>

<body>
        <% include  partials/navbar%>

    <div class="add">
    <%if(add=='category'){%>
        <h1>Add Main Category</h1>
    <form class="form-group" action="/category/add" method="POST">
        <input class="form-control" name="name">
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
    <%}%>
        <%if(add=='subcategory'){%>
    <form class="form-group" action="/subcategory/add" method="POST">
        <select class="form-control" name="category">
            <%
                        categories.map(c=>{%>
            <option value="<%=c._id%>"><%=c.name%></option>
            <% })
                        %>
        </select>
        <input name="name">
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
    <%}%>
    <%if(add=='product'){%>
    <form class="form-group" action="/product/add" method="POST">
        <select name="subcategory">
            <%
                            subcategories.map(c=>{%>
            <option value="<%=c._id%>"><%=c.name%></option>
            <% })
                            %>
        </select>
        <input class="form-control" name="name">
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
    <%}%>

    <%if(add=='subcategoryadd'){%>
        <h1>Add sub Category</h1>
    <form class="form-group" action="/subcategory/add" method="POST">
        Add into :- <%=name%>
        <input hidden name="category" value="<%=id%>">
        <input class="form-control" name="name">
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
    <%}%>

        <%if(add=='productadd'){%>
            <h1>Add Product</h1>

    <form class="form-group" action="/product/add" enctype="multipart/form-data" method="POST">
        Add into :- <%=name%><br>
        <input hidden name="subcategory" value="<%=id%>" required>
        Name:<input class="form-control" name="name" required>
        Price<input class="form-control" name="price" required>
        Per(200 g/500 g/1 kg/1 dozen)<input class="form-control" name="per" required>

        Image<input class="form-control" type="file" name="file" size="50" / required>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
    <%}%>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</div>
        
    </body>
</html>