<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <style>
    a {
      text-decoration: none;
      text-decoration-color: none
    }

    .view {
      margin-left: 2%;
      width: 30%
    }

    .category-ul {
      color: blue
    }

    .category-li {
      color: rgb(77, 6, 245);
      background-color: rgb(51, 182, 223)
    }

    .subcategory-li {
      color: red;
      background-color: rgb(167, 206, 27)
    }

    .product-li::before {
      color: green;
      content: '\25BA';
    }

    .product-li {
      color: rgb(218, 30, 192);
      background-color: rgb(245, 167, 23)
    }

    .subcategory-li::before {
      color: green;
      content: '\27A4';
    }

    .category-li::before {
      color: green;
      content: '\276D';
    }
  </style>
</head>

<body>
  <% include  partials/navbar%>
  <div class="row">
    <div class="col col-md-6">

      <h1>Your Inventory</h1>

      <ul class="category-ul">
        <%categories.map(c=>{%>
        <li class="category-li"> <%=c.name%>
        </li>
        <ul class=subcategory-ul ">
                  <%subCategories.map(sc=>{%>
                  <%if(sc.category.toString()==c._id.toString()){%>
                  <li class=subcategory-li><%=sc.name%>
                  </li>
                  <ul class=" product-ul">
          <%products.map(p=>{%>
          <%if(p.subcategory.toString()==sc._id.toString()){%>
          <li class="product-li"><%=p.name%> -- <%=p.available%> <a href="/inventory/add/<%=p.id%>"> <i
                class="fa fa-refresh" aria-hidden="true"></i></a>
            <% }})%>
        </ul>
        <% }})%>

      </ul>
      <% })%>
      </ul>
    </div>
    <div class="col col-md-6">
      <div class="row">
        <div class="col col-md-6">
          <div class="card  ml-auto" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Daily</h5>
              <p class="card-text">
                <ul class="list-group">
                  <li class="list-group-item">Total Product :-<%=products.length%> </li>
                  <li class="list-group-item">Total Orders :-<%=order.length%></li>
                  <li class="list-group-item">Revenue :-₹3000/-</li>

<!-- //samriddhi center
//owner name Sahil 
//9098080808
// Harda -->
                </ul>
              </p>
            </div>
            <div class="card-body">
              <h5 class="card-title">Weekly</h5>
              <p class="card-text">
                <ul class="list-group">
                  <li class="list-group-item">Total Product :-<%=products.length%> </li>
                  <li class="list-group-item">Total Orders :-<%=order.length%></li>
                  <li class="list-group-item">Revenue :-₹50000/-</li>

                </ul>
              </p>
            </div>
            <div class="card-body">
              <h5 class="card-title">Monthly</h5>
              <p class="card-text">
                <ul class="list-group">
                  <li class="list-group-item">Total Product :-<%=products.length%> </li>
                  <li class="list-group-item">Total Orders :-<%=order.length%></li>
                  <li class="list-group-item">Revenue :-₹70000/-</li>
                </ul>
              </p>
            </div>

          </div>
        </div>
        <div class="col col-md-6">

          <div class="card  ml-auto" style="width: 100%;">
            <img class="img-top" width="200px" height="200px" src="/static/<%=shop.img%>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%=shop.name%></h5>
              <p class="card-text">
                <ul class="list-group">
                  <li class="list-group-item">Total Product :-<%=products.length%> </li>
                  <li class="list-group-item">Total Orders :-<%=order.length%></li>

                </ul>
              </p>
            </div>
          </div>
          <br>
          <div class="card-body">
            <h5 class="card-title">Commission to <br>XYZ company </h5>
            <p class="card-text">
              <ul class="list-group">
               
                <li class="list-group-item">Ammount :-₹4000/-</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <h1>Pending order</h1>
    <table class="table" width="100%">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col">Price</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>J63hs</td>
          <td>5000</td>
          <td>@Tue Aug 13 2019 12:16:01</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>r23tr</td>
          <td>1000</td>
          <td>@Tue Aug 13 2019 15:12:8</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>fq3r1</td>
          <td>1200</td>
          <td>@Tue Aug 13 2019 18:26:40</td>
        </tr>
      </tbody>
    </table>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>