<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
          a {
            text-decoration: none;
            text-decoration-color: none
        }

        .product {
            background-color: rgb(156, 220, 236);
            /* border: 3px red dotted */
        }

        .subcategory {
            background-color: rgb(97, 187, 179);
            /* border: 3px rgb(5, 1, 1) dotted */
        }

        .view {
            width: 60%;
            margin-left: 5%;
            margin-top: 5%;
            font-size: calc(1em + 0.5vw)
        }

        .category {
            background-color: rgb(216, 143, 34);
            /* border: pink dotted; */
        
            /* border: pink dotted; */
        }
    </style>
</head>

<body>
        <% include  partials/navbar%>

    <h1>Your Products List</h1>
    <div class="view">
        <ul class="category">
            <%categories.map(c=>{%>
            <li> <%=c.name%>
            </li>
            <ul class="subcategory">
                <%subCategories.map(sc=>{%>
                <%if(sc.category.toString()==c._id.toString()){%>
                <li><%=sc.name%>
                </li>
                <ul class="product">
                    <%products.map(p=>{%>
                    <%if(p.subcategory.toString()==sc._id.toString()){%>
                    <li><%=p.name%> -- <%=p.available%> <a href="/inventory/add/<%=p.id%>"> <i class="fa fa-refresh"
                                aria-hidden="true"></i></a>
                        <% }})%>
                </ul>
                <% }})%>
         
            </ul>
            <% })%>
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>