<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Order</title>
    <style>
        .card-body {
            /* height: 50px !important;
            margin-left: 2% !important; */
            background: rgb(255, 255, 255);
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #FFFFFF, #FFFFFF, rgb(255, 255, 255));
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #FFFFFF, #FFFFFF, rgb(255, 255, 255));
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            padding: 0px !important;
            /* padding-top:5px !important; */
        }

        .card {
            padding: 0 0 0 !
        }

        body {
            background: rgb(255, 255, 255);
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #FFFFFF, #FFFFFF, rgb(255, 255, 255));
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #FFFFFF, #FFFFFF, rgb(255, 255, 255));
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
    </style>
</head>

<body>
    <% include  partials/coustomerNav%>
    <center>
        <div class="row">
            <div class="col col-md-12 mx-auto ">
                <% data.map((d,i)=>{%>



                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 mx-auto  ">
                                <br>
                                <img alt="<%=d.img%>" src="/static/<%=d.img%>" height="50px">
                            </div>
                            <div class="col-4 " style="text-align: center;color: rgb(224, 70, 32)">
                                <b><div style="font-size: 15px"> <%= d.name%></div></b>
                                <br>
                                <br>
                                ₹<%= d.price%>/<%=d.per%>.
                            </div>

                            <div class="col-4 mx-auto">
                                <button class="btn"
                                    onclick="minus('<%=d.id%>','<%=d.name%>','<%=d.price%>','<%=i%>','<%=d.available%>')">
                                    <i class="fa fa-minus" style="color: red" aria-hidden="true"></i></button>
                                <br>
                                <input value="0" style="width: 25px; height: 20px" size="1" id="inp<%=i%>" />
                                <br>
                                <button
                                    onclick="plus('<%=d.id%>','<%=d.name%>','<%=d.price%>','<%=i%>','<%=d.available%>')"
                                    class="btn">
                                    <i class="fa fa-plus" style="color: red" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <% })%>
            </div>
        </div>
        <div class="col col-sm-12 mx-auto ">

            <!-- Button trigger modal -->
            <button type="button" onclick="finalize()" class="btn btn-primary" data-toggle="modal"
                data-target="#checkout">
                Check Out
            </button>

            <!-- Modal -->
            <div class="modal fade" id="checkout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Check Out</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div id="myorder" class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Edit</button>
                            <button type="button" onclick="order()" class="btn btn-danger">Finalize Order</button>
                        </div>
                        </dtiv>
                    </div>
                </div>
            </div>
    </center>

    <script>
        arr = []
        tprice = 0
        function minus(pid, name, price, id, available) {
            p = -1
            if (document.getElementById(`inp${id}`).value > 0) {
                --document.getElementById(`inp${id}`).value
                for (i = 0; i < arr.length; i++) {
                    if (arr[i].product == pid) {
                        p = i
                    }
                }
                console.log(p)
                if (p != -1) {
                    arr[p].quantity = document.getElementById(`inp${id}`).value
                    arr[p].available =arr[p].pava- document.getElementById(`inp${id}`).value

                }
                else {
                    arr.push({
                        product: pid,
                        quantity: document.getElementById(`inp${id}`).value,
                        price: price,
                        name: name,
                        available: available - 1,
                        pava: available
                    })
                }

            }

        }
        function plus(pid, name, price, id, available) {
            ++document.getElementById(`inp${id}`).value

            p = -1

            for (i = 0; i < arr.length; i++) {
                if (arr[i].product == pid) {
                    p = i

                }
            }
            console.log(p)
            if (p != -1) {
                if (arr[p].available - document.getElementById(`inp${id}`).value < 0) {

                    alert("can not add more")
                    --document.getElementById(`inp${id}`).value
                    arr[p].available -= document.getElementById(`inp${id}`).value


                }
                else {
                    // ++document.getElementById(`inp${id}`).value

                    arr[p].quantity = document.getElementById(`inp${id}`).value
                    arr[p].available =arr[p].pava- document.getElementById(`inp${id}`).value

                    // alert("can  add more")

                }
            }
            else {
                arr.push({
                    product: pid,
                    quantity: document.getElementById(`inp${id}`).value,
                    price: price,
                    name: name,
                    available: Number(available - 1),
                    pava: available
                })
            }

        }

        function finalize() {
            tprice = 0
            for (i = 0; i < arr.length; i++) {
                if (arr[i].quantity == 0) {

                    arr.splice(i, 1)
                }
                if (arr[i].available < 0) {
                    alert(`cannot add ${arr[i].name} please use less value`)
                    arr.splice(i, 1)
                }
            }
            for (i = 0; i < arr.length; i++) {
                tprice += arr[i].quantity * arr[i].price
            }
            data = {
                products: arr,
                price: tprice
            }
            console.log(data)
            document.getElementById('myorder').innerHTML = ""
            for (i = 0; i < arr.length; i++) {
                document.getElementById('myorder').innerHTML += `
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 mx-auto  ">
                                    <b> ${arr[i].name}</b>
                            </div>
                           
                            <div class="col-4 " style="text-align: center">
                                
                                ${arr[i].quantity}
                            </div>
                            <div class="col-4 mx-auto">
                               ${arr[i].price * arr[i].quantity}
                            </div>
                        </div>
                    </div>

                </div>
                
                `
            }
            document.getElementById('myorder').innerHTML += `
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 mx-auto  ">
                                    <b> Total</b>
                            </div>
                            <div class="col-4 " style="text-align: center">
                                
                              
                              
                            </div>

                            <div class="col-4 mx-auto">
                               ${tprice}
                            </div>
                        </div>
                    </div>

                </div>
                
                `
        }
        function order() {
            if (tprice == 0) {
                alert("please purchase alteast one item")
            }
            else {
                sendData = {
                    products: arr,
                    price: tprice
                }
                axios.post('/order/trans', sendData).then(res => {
                    console.log(res)
                    alert("order genrated")
                    window.location.href = '/order/make/5d5ae77e4b112e67bbbcb2f3'
                })
            }
        }
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>